body{
    background: #ECEEF1;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* #region header */

.header{
    display: flex;   
    flex-direction: row-reverse;        
}

.topBox{    
    display: grid;    
    grid-template-rows: 35px 25px;
    grid-template-columns: 190px 120px;
    height: 70px;
    width: 310px;    
}

.a{
    grid-area: 1 / 1 / span 1 / span 1;
    font-size: small;
    text-align: center;
}
.b{
    grid-area: 2 / 1 / span 1 / span 1;
    font-size: small;

}
.c{
    grid-area: 1 / 2 / span 2 / span 1;

}
#signIn{
    background: #2478C5;
    font-size: 15px;
    color:white;
    height: 50px;
    width: 120px;
    border-radius: 5px;

}

/* #endregion */

/* #region body */

.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;


}

#intuitImg{
    margin-top: 80px;
    filter: grayscale(100%);
    background: #ECEEF1;
    
}

.container{
    width: 370px;
    border: 1px solid black;    
    background: white;
}

.whiteContainer{
    background-color: #ffffff;
}

.grayContainer{
    height: 60px;
    background-color: #eeeeee;
}

#submit{
    background: #2478C5;
    font-size: 15px;
    color:white;
    height: 50px;
    width: 350px;
    border-radius: 5px;
}
#email, #phone, #password, #sumbit{
    border-radius: 5px;
    width: 350px;
    height: 25px;
}
/* #endregion */

