body{
    background: #ECEEF1;   
    font-family: Arial, Helvetica, sans-serif;
}

a:hover, a:visited, a:link, a:active{
    color: #2478C5;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

/* #region header */

.header{
    display: flex;
    flex-direction: row-reverse;    
}

.signInText{    
    font-size: 12px;    
    text-align: right;
}

.signInText p{
    padding-bottom: 5px;
    color: #555555;
}

.signInButton{    
    padding-left: 10px;
    padding-right: 30px;
}

#signIn{
    background: #2478C5;
    font-size: 14px;    
    color:#ffffff;
    height: 35px;
    width: 110px;
    border: 1px solid #555555;
    border-radius: 5px;
}

/* #endregion */



/* #region body */

.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;   


}

#intuitImg{
    margin-top: 80px;
    background: #ECEEF1;
    
}

.container{
    border: 1px solid black;    
    background: white;
    width: 500px;
    height: 650px;

}

.whiteContainer{
    background-color: #ffffff;
    padding:20px;
    border: 1px solid black;  
}

.whiteContainer a{
    font-size: small;
}

#sc{
    font-size: 12px;
}

.grayContainer{
    background-color: #eeeeee;
    border: 1px solid blue;  
    font-size: small;
    height: 60px;
}

#submit{
    background: #2478C5;
    font-size: 15px;
    color:white;
    height: 50px;
    width: 350px;
    border-radius: 5px;
}
#email, #phone, #password, #sumbit{
    border-radius: 5px;
    width: 350px;
    height: 25px;
}
/* #endregion */

